#body{
  height: 100%;
  background-image: url(567701-breaking-bad.jpg);
   
   
}
@media only screen and (min-width: 600px;) end (max-width: 800px)
    { #body{
        grid-template-areas: 
        "div div"  
        "imagem imagem" 
        "hiat1 hiat1" 
        "Texto Texto"
        "foot foot";

    }

    }

#hiat1{
align-self: end;
grid-area: hiat1;
}
#hiat2{
  align-self: end;
  grid-area: hiat1;
}
#formula{
  transform: translate(285px);
}
#historia{
   font-size: 25px;
   padding-top: 50px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
   align-self: flex-end;
   animation-duration: 1s;
   animation-name: aparecer;
   animation-iteration-count: initial;
}

#div{
    border: solid 20px rgb(8, 48, 8);
    background-color: rgb(10, 56, 10);
    border-radius: 5px;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 1290px;
    z-index: 2;
   
}
.menu{
  transform: translate(0, 36px);
  justify-self: center;
  color: darkolivegreen;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style:none;
  border:2px solid #060f05c0;
  float:left;
  background-color: rgba(26, 148, 22, 0.438);
  }
  .menu li{
    position:relative;
    float:left;
    border-right:1px solid #000000;
    }
    .menu li a{color:#ffffff; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
background:#333;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}
.menu li  ul{
  opacity: 90%;
  position:absolute;
  top:25px;
  left:0;
  background-color:#0b2403;
  display:none;
  }
  .menu li:hover ul, .menu li.over ul{display:block;}
  .menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
    }
#Texto{
    transform: translate(0,-40px);
    font-size: 14px;
    background-color: rgb(255, 253, 253);
    opacity: 80%;
    width: 1240px;
    height: 660px;
    animation-duration: 5s;
   animation-name: aparecer;
   animation-iteration-count: initial;
  
    border-radius: 10px;
}
#Texto2{
  transform: translate(0,-40px);
  
  background-color: rgb(255, 253, 253);
  opacity: 80%;
  width: 1240px;
  height: 350px;
}
#imagem{
    display: flex;
    flex-direction: row;
   justify-content: center;
   padding-top: 10px;
   
    
    
}
#menu{
    position: relative;
    
}

#isso{
    
    z-index: 1;
    background-color: rgb(10, 56, 10);
    height: 60px;
    width: 70px;
   
    
}
.footer{
 
  position: absolute;
  border: solid 53 rgb(8, 48, 8);
  transform: translate(-10px, -62px);
  background-color: rgb(10, 56, 10);
  width: 100%;
  height: 100px;
}
.footer{
    
  width: 100%;
  height:100%;
  float: left;
  font-size: 18px;
  padding: 50px 10px 50px 10px;
}
.footer .left{ 
  width:100%; 
  float:left; 
  border-bottom:1px #222424 solid;
  border-right:0; 
  margin-bottom:20px; 
    padding-bottom:20px;
}
.footer .title-footer {
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  font-weight: initial;
    font-size:26px;
    width:100%;
    float:left;
    margin-bottom:15px;
}
.footer .title-footer span{
  color:  #0dd417;
  font-family:'DM Sans', sans-serif;
  font-weight: bold;
}
/* Footer links */
.footer .links{
  
  width: 100%;
  float: left;
  color:  #ffffff;
  margin-bottom: 20px;
  padding: 0;
}
.footer .links a{
    display: block;
    line-height: 33px;
    text-decoration: none;
    color: #fff;
    font-family:'DM Sans', sans-serif;
    font-size:16px;
    transition:0.3s;
}
.footer .links a:hover { color:#015708; }
.footer .Copyright{
  font-family:'DM Sans', sans-serif;
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}
/*Rede Sociais*/
.footer .footer-icons{
  
  width:100%;
  float:left;
  margin-bottom:20px;
}
.footer .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 50px;
    font-family:'DM Sans', sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-align: center;	
  line-height: 35px;
  margin-bottom: 5px;
  transition:0.3s;
}
.footer .footer-icons a:hover{ background-color:#2fcacf; }
/*Right*/
.footer .right   { width:100%; float:left; }
.footer .right p {
  font-family: 'DM Sans', sans-serif;
  font-weight: initial;
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  color: #ffffff;
}
/*formulario*/
.footer form { width:100%; float:left; }
.footer form input,
.footer form textarea{
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color:  #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
    outline: none;
  font: inherit;
  font-size: 14px;
  font-family:'DM Sans', sans-serif;
  font-weight: normal;
  color:  #d1d2d2;
  width: 100%;
  padding: 18px;
}
.footer ::-webkit-input-placeholder {
  color:  #5c666b;
}
.footer ::-moz-placeholder {
  color:  #5c666b;
  opacity: 1;
}
.footer :-ms-input-placeholder{
  color:  #5c666b;
}
.footer form input{
  
  width: 100%;
  height: 55px;
  float: left;
  margin-bottom: 15px;
}
.footer form textarea{
  height: 100px;
  margin-bottom: 20px;
}
.footer form .btn{
  border-radius: 3px;
  background-color:  #1f2022;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  float: left;
  cursor: pointer;
    transition: 0.3s;
}
.footer form .btn:hover { background-color:  #54cf2f; }
/*Responsive*/
@media (min-width: 1280px) {
  .footer               { padding: 100px 50px 50px 100px; }
  .footer .Copyright    { font-size: 16px; }
  .footer form input,
  .footer form textarea { width: 100%; float:left; }
  .footer form button   { padding: 10px 35px; }
}
@media (min-width: 768px) {
  
  .footer .left         { width:48%; border-bottom:0; }
  .footer .right        { width:48%; padding-left: 4%; border-left: 1px #222424 solid; } 
  .footer form          { margin-top: 30px; }
  .footer form          { display: block; }
  .footer form button   { float: none; }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}